* {
    box-sizing: border-box;
}
.container {
    margin: 0;
    padding: 10px;
    text-align: center;
}
.btDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btDiv > button {
    margin: 5px;
    border-radius: 30px;
    border: 1.5px solid;
    border-color:grey;
    opacity: 0.8;

}

#ft {
    display: flex;
    align-content:flex-start;
    display:block;   
}

.sp1 {

    text-align:left;
    border: 4px ;
    margin: 2px;
    padding: 2px;
    padding-right: 4px;

    flex-direction : row;

    height: 20px;
    border-radius: 8px;
    width: 50px;
    color: aliceblue;
    background-color: blueviolet;
}

#sp2 {
    font-weight: bolder;   
}

#txt1 {
    margin-top: 20px;
    background-color: aliceblue;
    opacity: 0.6;
    border: 1.5px solid;
}

.main1 {

    height: 700px;
    background-image: url(../img/lotte-world-tower-1791802.jpg);
    background-size: cover;
}

#kbox {
    padding-top: 150px;
    grid-template-columns: 3fr 1fr;
}