#timage {

    margin: 10px;

    background-size: cover;
}

#bt1 {
    border-color: #8A9CB7;
    border-radius: 20px;
}

#bt2 {
    border-color: #8A9CB7;
    border-radius: 20px;                    
}