/* .hdiv {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bdiv {
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .mytd {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mytr {
    display: flex;
    justify-content: center;
    align-items: center;
} */